
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Welcome to Website!</h2>
        <form>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email"  class="form-control" id="email" placeholder="Enter email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password"  class="form-control" id="password" placeholder="Password">
          </div>
          <button type="submit" (click) = "handleClick()"class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
  
