<div class="container">
  <p class="alert alert-success">Home Page</p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa perspiciatis recusandae animi suscipit hic sunt qui aperiam mollitia, excepturi repellat, eveniet amet exercitationem illum. Quod eligendi adipisci in commodi delectus!
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa perspiciatis recusandae animi suscipit hic sunt qui aperiam mollitia, excepturi repellat, eveniet amet exercitationem illum. Quod eligendi adipisci in commodi delectus!
</div>